@media screen and (min-width: 481px) and (max-width: 768px) {
    .video-wrap{
        width: 100%;
        position: fixed;
        height: 100%;
        background:rgba(00, 00, 00, .6);
        z-index: 999;
    }
    /*大赛页面*/
    /*大赛 banner*/
    /*大赛简介*/
    .introduction {
        height: 400p
    }

    .introduction-title {
        padding-top: 5% !important;
        margin-bottom: 4%;
    };
    .introduction-img img {
        width: 100%;
        height: 270px;
    }

    .introduction-content {
        padding-top: 0;
        line-height: 28px;
    }

    /*赛区名单*/
    .division {
        width: 100%;
        height: 390px;
    }

    .division-content-left ul li {
        line-height: 20px;
        font-size: 12px;
    }

    .division-content-left img {
        width: 32%;
    }

    .division-content-right ul li {
        line-height: 20px;
        font-size: 12px;
    }

    .division-content-right img {
        width: 32%;
    }

    /*大赛目标*/
    .target {
        height: 520px;

    }

    .target-title {
        padding-top: 6%;
        padding-bottom: 4%;
    }

    .target-content-left {
        padding-left: 12%;
    }

    /*组织机构*/
    .mechanism-body {
    }

    .mechanism-title {
        padding-top: 6%;
        padding-bottom: 4%;
    }

    /*大赛奖金*/
    .bonus-title {
        padding-top: 6%;
        padding-bottom: 4%;
    }

    .bonus-content-body {
        line-height: 20px;
    }

    /*大赛范围*/
    .demand {
        height: auto;
        padding-bottom: 3%;
    }

    .demand-title {
        padding-top: 6%;
        padding-bottom: 4%;
    }

    /*赛程赛制*/
    .format {
        height: auto;
        padding-bottom: 3%;
    }

    .format-content-left {
        margin-left: 1%;
    }

    /*报名预定*/
    .reservation {
        height: auto;
        padding-bottom: 3%;
    }
    .reservations {
        height: auto;
        padding-bottom: 3%;
    }

    .reservation-titlt {
        padding-top: 6%;
        padding-bottom: 4%;
    }

    /*关于平台*/
    .title-competitions .appresources {
        margin-top: 52%;
    }

    .title-competitions .appresource-top {
        margin-left: 25%;
    }

    .form-group .col-sm-8 {
        width: 70%;
    }

    /*底部*/
    .footerinfo {
        display: block;
    }

    .footerinfo > .logo {
        display: none;
    }

    .footerinfo > .address-info {
        padding: 0;
        margin: 0;
        height: inherit !important;
        border: 0 !important;
    }

    .footerinfo > .qrcode {
        display: block;
        margin: 0 auto !important;
    }

    .dyniclist {
        width: 100%;
    }

    .newslist {
        display: none;
    }
    /* 大赛视频 */
    .video{
        width: 100%;
        position: fixed;
        height: 100%;
        background:rgba(00, 00, 00, .6);
    }
}