@font-face {
	font-family: 'iconfont';  /* project id 1081047 */
	src: url('//at.alicdn.com/t/font_1081047_howj36325kk.eot');
	src: url('//at.alicdn.com/t/font_1081047_howj36325kk.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_1081047_howj36325kk.woff2') format('woff2'),
	url('//at.alicdn.com/t/font_1081047_howj36325kk.woff') format('woff'),
	url('//at.alicdn.com/t/font_1081047_howj36325kk.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_1081047_howj36325kk.svg#iconfont') format('svg');
  }

body, div, span, h1, h2, h3, h4, h5, h6, p, small, a {
	font-family: '微软雅黑', '宋体';
}

.p-al{
	color: #d4d4d4;
	font-size: 12px;
	line-height: 24px;
	padding-left: 10px;
	padding-top: 25px;

}
.hkws-sm-p-title {
	background: #f3f3f3;
	color: #0074b0;
	font-size: 16px;
	line-height: 24px;
	border: solid 1px #f3f3f3;
	padding: 2%;
}

.hkws-sm-span {
	float: right;
	padding-bottom: 5px;
}

.sm-h3-title {
	color: #0074b0;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 20px;
}
.video-wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background:rgba(00, 00, 00, .6);
	z-index: 999;
}
.video{
	width: 80%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	padding-top: 50px;
}
#close-video{
	font-family: 'iconfont';
	position: absolute;
	right: 5%;
	top: 13%;
	font-size: 25px;
	color: #ffffff;
	cursor: pointer;
	z-index: 1000;
}