@charset "UTF-8";
body,div,span,h1,h2,h3,h4,h5,h6,p,small,a{
    font-family: '微软雅黑','宋体';
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.marl0{
    margin-left: 0px;
}
.nav .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-defaul,.nav .btn-default{
	background: transparent;
		box-shadow: none;
}
.nav .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
	background:transparent;
	box-shadow: none;
}
.nav .dropdown-menu {
    position: absolute;
    top: 83%;
    left: 21px;
    /* z-index: 1000; */
    /* display: none; */
    /* float: left; */
    min-width: 160px;
    /* padding: 5px 0; */
    /* margin: 2px 0 0; */
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow:none; 
}
.nav .dropdown-menu>li>a{
	padding: 0px 10px;
}
.nav .dropdown-menu>li>a:focus,.nav .dropdown-menu>li>a:hover{
	background-color: transparent;
}
#ainews,#academy{
    /*background: #f5f5f5;*/
}
ul li{
    list-style: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
font-size:12px;
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
font-size:12px;
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
font-size:12px;
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
font-size:12px;
}
/* 底部  footer */
.footerinfo{
    display: flex;
    border-bottom: 1px solid rgba(114, 114, 114, 0.1);
    padding-bottom: 10px;
}
.footerinfo img:first-of-type{
    margin-top: 17px;
}
.footerinfo div {
    flex: 1;
    text-align: left;
    border-left: 1px solid rgba(114, 114, 114, 0.1);
    margin: 14px 0 0 40px;
    padding: 4px 30px;
    height: 90px;
}
