

/* ======= BLOCK PRICING ======= */

.block {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
@media only screen and (max-width:768px) { 
.block {margin-bottom: 40px;}
}
.block-caption {
    font-weight: 700;
    font-family: "Lato", "Times New Roman", serif;
    color: #3C4857;
}

.block-plain {
    background: transparent;
    box-shadow: none;
}

.block .category:not([class*="text-"]) {
font-size: 16px;
text-transform: uppercase;
}

.block-background {
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.block-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.block-background .table {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
}

.block-background .block-caption {
    color: #FFFFFF;
    margin-top: 10px;
}

.block-pricing.block-background:after {
    background-color: rgba(0, 0, 0, 0.7);
}

.block-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 6px;
}

[class*="pricing-"] {
    padding: 90px 0 60px 0;
}



.block-pricing {
    text-align: center;
}

.block-pricing .block-caption {
    margin-top: 30px;
}

.block-pricing .table {
    padding: 15px !important;
    margin-bottom: 0px;
}

.block-pricing .icon {
    padding: 10px 0 0px;
    color: #3C4857;
}

.block-pricing .icon i {
    font-size: 55px;
    border: 1px solid #ececec;
    border-radius: 50%;
    width: 130px;
    line-height: 130px;
    height: 130px;
}

.block-pricing h1 small {
    font-size: 18px;
}

.block-pricing h1 small:first-child {
    position: relative;
    top: -17px;
    font-size: 26px;
}

.block-pricing ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto;
}

.block-pricing ul li {
    color: #3C4857;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.block-pricing ul li:last-child {
    border: 0;
}

.block-pricing ul li b {
    color: #3C4857;
}

.block-pricing ul li i {
    top: 6px;
    position: relative;
}

.block-pricing.block-background ul li,
.block-pricing [class*="table-"] ul li {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.3);
}

.block-pricing.block-background ul li b,
.block-pricing [class*="table-"] ul li b {
    color: #FFFFFF;
}

.block-pricing.block-background [class*="text-"],
.block-pricing [class*="table-"] [class*="text-"] {
    color: #FFFFFF;
}

.block-pricing.block-background:after {
    background-color: rgba(0, 0, 0, 0.7);
}

.block-background:not(.block-pricing) .btn {
    margin-bottom: 0;
}

.block .table-primary {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}


.block [class*="table-"] .block-caption a,
.block [class*="table-"] .block-caption,
.block [class*="table-"] .icon i {
    color: #FFFFFF;
}

.block-pricing .block-caption {
    margin-top: 30px;
}

.block [class*="table-"] h1 small,
.block [class*="table-"] h2 small,
.block [class*="table-"] h3 small {
    color: rgba(255, 255, 255, 0.8);
}

/* ======= BLOCK TABLE COLOR ======= */

.block .table-primary {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
    border-radius: 6px;
    box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.block .table-info {
    background: linear-gradient(60deg, #26c6da, #0097a7);
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}

.block [class*="table-"] .category,
.block [class*="table-"] .block-description {
    color: rgba(255, 255, 255, 0.8);
}


/* ======= PRICING BUTTONS  ======= */

.btn,
.navbar > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 12px 15px;
    margin: 10px 1px;
    font-size: 12px;
    font-weight: 400;
/*    text-transform: uppercase;*/
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.btn-round {
    border-radius: 30px;
}

.nav-pills:not(.nav-pills-icons) > li > a {
border: 1px solid #425cbb;
border-radius: 30px;
font-weight: 400;
margin: 0 20px;
padding: 11px 25px;
}
.nav-pills:not(.nav-pills-icons) > li > a:hover{
background:#425cbb!important;
color:#fff;	
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #425cbb;
    color: #FFFFFF;
    box-shadow: 0 16px 26px -10px rgba(66, 92, 187, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(66, 92, 187, 0.2);
}




/* btn-primary */
.btn.btn-primary {
    color: #FFFFFF;
    background-color: #425cbb;
    border-color: #425cbb;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

/* btn-info */
.btn-info {
background-color: #425cbb;
border-color: #5bc0de;
box-shadow: 0 2px 2px 0 rgba(66, 92, 187, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(66, 92, 187, 0.12);
color: #fff;
}

.btn.btn-info:focus,
.btn.btn-info:active,
.btn.btn-info:hover {
    box-shadow: 0 14px 26px -12px rgba(66, 92, 187, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(66, 92, 187, 0.2);
}

/* Bootstrap tab-space class */
.tab-space {
margin-top: 60px;
}



